/*A propriedade :root permite criar variáveis no css*/
:root {
    --primary-color: #03132C;
    --secondary-color: crimson;
    --backgroundn-color: rgb(167, 29, 29);
    --main-color:rgb(70, 1, 1);
    --green-color:rgb(7, 71, 7);
    --light-gray-color: #cccccc;
    --medium-gray-color: #999;
    --dark-gray-color: #444;
    --white-color: #fff;
    --gap: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    min-height: 100%;


  }
  
body {
font-family: 'Open Sans', sans-serif;
font-size: 2rem;
color: var(--primary-color);
line-height: 1.5;
min-width: 100%;
height: 100%;
min-height: 100%;
background-color: var(--backgroundn-color);
background-image:  url('/assets/img/bombeiro.png');
background-repeat: no-repeat;
background-size:cover;
position: relative;

}
.over-menu {
    width: 100%;
    background: var(--main-color);
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
}
h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
}

select {
    cursor: pointer;
    height: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

input{
    padding: .5rem;
}
.segdiv {
    color: var(--green-color);
}
.menu{
    background: var(--main-color);
    display: grid;
    margin: 0 auto;
    min-width: 100%;
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.menu.org-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

}
.button-menu button {
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3rem;
}

.button-menu button:hover {
    color: rgb(235, 94, 76);
}

.button-menu button:focus {
    outline: none;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    /*text-transform: uppercase;*/
    color: var(--white-color);
    line-height: 1.5;
    font-weight: bold;
    word-spacing: 1rem;
    margin-right: 16rem;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo > p {
    margin: 0 auto;
    padding-left: 5rem;
    text-align: justify;
    font-size: 1.2rem;
}

@media (max-width: 1080px) {


    .author {
        padding: 1rem;
    }

    .menu{
        background: var(--main-color);
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        width: 100%;
    
    }
    p {
        padding-left: 0!important;
        margin: 0 auto;
        text-align: center;
    }
    .titulo {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        /*text-transform: uppercase;*/
        color: var(--white-color);
        line-height: 1.5;
        font-weight: bold;
        word-spacing: 1rem;
        padding-left: 0;
        margin:0 auto;
        width: 80%;
        margin-bottom: 1rem;
    }
    .titulo > P{
        font-size: 1rem;
    }
    .logo {
        display: flex!important;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

    }
    .linha {

        grid-template-columns: 1fr;

    }

    .container {
        background: var(--backgroundn-color);
        margin:0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr!important;
        min-width: 90%;

    }
   
    .colorf {
        background: var(--white-color);
        min-height: 30rem;
        box-shadow: 0 0 1em rgb(46, 46, 45);
        justify-content: center;
        min-width: 100%;
        margin: 0 auto;
    
    }
    .container .mai {
        background: var(--white-color);    
        grid-column: span 1;
        box-shadow: 0 0 1em rgb(46, 46, 45);
    
    }
    #espaco {
        display: flex;
        justify-content: space-around;
        background: var(--backgroundn-color);
        color: #FFF;
        width: 100%!important;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
    }
    .footer {
        grid-column: span 1;
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }
    body > div.container > div.colorf.segdiv > div.saida-n.segdiv::before{
        content: "";
        height: 0!important;
    }
    select {
        font-size: 1.1rem;
    }

    html {
        width: initial;
        height: initial;
    }
    #wrapper > div.subcont > div > div.colorf.segdiv{
        margin-bottom: 9rem;
    }
    #espaco{
        margin-bottom: -5rem;
    }

@media (max-width: 900px) {
    #wrapper > div.subcont > div > div:nth-child(1) > div.linha-f > div.soma-aadp{
        padding-bottom: 1rem;
    }
    .dual-box {
        display: grid;
        grid-template-columns: 1fr;
    }
}

}
@media (max-width: 600px) {

    .container {
        background: var(--backgroundn-color);
        margin:0 auto;
        width: 80%;
        display: block;
        margin-bottom: 1.5rem;


    }
    body > div.container > div.colorf.segdiv > div.saida-n.segdiv::before{
        content: "";
        height: 0;
    }
    select {
        font-size: 1.1rem;
    }

    button#prim-adi, button#infocomp {
        width: 90%!important;;
        padding: 0;
    }


}
@media (max-width: 380px) {

.main-cab h2 {
    font-size: 1.8rem;
}
select {
    margin-top: .5rem;
}
.saida-n h4{
    font-size: 1.6rem;
}
h1#final-adp,
h1#final-adi{
    font-size: 4.5rem;
}
h2#final-adp{
    color:red;
}
select {
    font-size: 1.1rem;
}

}
.hidden {
    min-width: 1rem;
}
.container {
    background: rgba(206, 168, 168, 0);
    margin:0 auto;
    width: 80%;
    display: grid;
    max-width: 1600px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

}


.colorf {
    background: var(--white-color);
    min-height: 3rem;
    box-shadow: 0 0 1em rgb(46, 46, 45);
    justify-content: center;
    border-radius: 1.2rem;
    padding-top: 1.5rem;
    width: 100%;
}
.limpador{
    margin-right: 1rem;
    font-size: 1.2rem;
    width: 3rem;
    border-radius: 5px;
    cursor:pointer;
}
.limpador:hover{
    background: var(--medium-gray-color);
}
.container .mai {
    background: var(--white-color);    
    grid-column: span 2;
    box-shadow: 0 0 1em rgb(46, 46, 45);
    border-radius: 1.2rem;

}
label {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0

}
span {
    font-size: 1rem;
    margin: 0
}
.linha {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    margin: 1rem auto;
    padding: 0.6rem;
    line-height: 1;
    border-radius: 10px;
    width: 80%;
}
.linha-f {
    border: 1px solid var(--primary-color);
    margin: 1rem auto;
    padding: 0.6rem;
    line-height: 1;
    border-radius: 10px;
    width: 80%;
}

.saida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    padding-top: .5rem;
    border-top: 1px solid #ccc;
}
.saida-n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    line-height: 1;
}
.form-lab {
    text-transform: uppercase;
    font-size: 1rem;

}


.nota {
    font-size: 2.5rem;
}

.saida-n .nota {
    font-size: 4.5rem;
}

.base-calcular{
    display: block;
    position: relative;
    margin:2.5rem;
}
button {
    width: 20.6rem;
    height: 3rem;
    background: var(--light-gray-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.6rem;
}
#espaco {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    background: var(--main-color);
    color: #FFF;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.button-saiba {
    font-size: 1rem;
    text-decoration: underline;
    height: 1rem;
    width: 5.5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    padding: .1rem;
    cursor: pointer;
    border: none;
    color: var(--primary-color);
    background: var(--white-color);
}

#fade,
#modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}


#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    width: 50rem;
    max-width: 90%;
    padding: 3rem;
    border-radius: .5rem;
    max-height: 60rem;
    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--medium-gray-color);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.modal-body p {
    margin-bottom: 1.5rem;
}

#close-modal {
    font-size: 1.2rem;
    width: 5rem;
    height: 1.5rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top:0;
}

#modal-legis {
    text-align: left;
}

.modal-content p {
    text-align: justify;
}
.title-cas, .title-cas-calc {
    background-image: linear-gradient(to bottom right, rgba(248, 135, 135, 0.705), white);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
}
.title-cas-adi {
    background-image: linear-gradient(to bottom right, rgba(129, 147, 245, 0.801), rgba(182, 195, 240, 0.822));
    color: rgb(6, 7, 15);
    border-radius: 1rem;
    padding: .6rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-nota {
    font-size: 2rem;
}
.linha-sub {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.author {
    margin: 0 5rem;
}
.main-cab {
    display: flex;
    justify-content: center;
}

.main-cab h2 {
    margin-right: 1rem;
} 
body > div.container > div.colorf.segdiv > div.saida-n.segdiv::before{
    content: "";
    height: 12rem;
}
#wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.soma-aadp{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.resultado-soma-aadp {
    margin: 1rem auto 1.5rem auto;
    font-size: 4.5rem;

}
button#importante {
    color:red;
    background: none;
    border: 1px solid red;
    padding: 0;
    width: 10.5rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    letter-spacing: .2rem;
    text-decoration: none;
    
}
button#importante:hover{
    background: red;
    color: #fff;
}
.impor {
    display: flex;
    justify-content: center;
}

.dual-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
}
.saiba-pos {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 1rem;
}
label.minus {
    font-weight: normal;
}
label.title-ajust{
    margin-top: 2rem;
}
#div-nenhum {
    display: none;
}
span.destac-span{
    color: red;
    font-weight: bold;
    font-size: 2.5rem;
    border-bottom: 2px solid red;
}


button#prim-adi, button#infocomp {
    color:red;
    background: none;
    border: 1px solid red;
    padding: 1rem; 
    width: 80%;
    height: 2rem; 
    font-size: 1.2rem;
    border-radius: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    letter-spacing: .2rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

button#prim-adi:hover, button#infocomp:hover{
    background: red;
    color: #fff;
}
button#infocomp {
    margin: 0;
    padding: 0;
    width: 70%;
}

.all-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.text-danger {
    color: red;
}

.embed-responsive-16by9 iframe{
    width: 100%;
    height: 40rem;
}
.flex-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.flex-content label {
    margin-left: 1rem;
}

label.lg-label {
    font-size: 2rem;
    font-weight: bold;
}

.title-cas-calc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-cas-calc label {
    font-size: 2rem;
}

.linha-sub-calc {
    width: 100%;
    min-height: 10rem;
    padding: 1rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.hidden-content {
    display: none;
}